.call {
    //margin: auto;
    //padding: 5%;
}

.text_message {
    //margin: auto;
    //padding: 5%;
}

.description {
    padding: 5%;
    text-align: center;
}

.centered_photo {
    margin: auto;
    display: block;
    padding: 20px;
}
