<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="description">
    <p>
      This is where you have a bunch of options on what you want to do. Set up a time to butt fuck or call me daddy. 
    </p>
    <p>Not sure what else to put here, so I'll give you the other photos I have.</p>
  </div>

  <img class="centered_photo" src="/assets/1.jpg">
  <img class="centered_photo" src="/assets/2.jpg">
  <img class="centered_photo" src="/assets/3.jpg">
  <img class="centered_photo" src="/assets/4.jpg">
  <img class="centered_photo" src="/assets/5.jpg">
  <img class="centered_photo" src="/assets/6.jpg">
  <img class="centered_photo" src="/assets/7.jpg">

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button fill="solid" color="primary" expand="block" shape="round" class="call" href="tel://5672244279">Call me</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button fill="solid" color="primary" expand="block" shape="round" class="text_message" href="sms://5672244279">Send me nudes</ion-button>

  </ion-toolbar>
</ion-footer>
