<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Me</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="profile_photo" src='assets/profile_photo.jpg' alt="profile_photo">
  <h4 style="text-align: center;">
    Scott Olson
  </h4>
  <div class="description">
    <p>
      Born and raised in Ohio, I've spent my whole life outside doing a variety of work from lawn mowing to power washing.
      I officially started my business in 2019, but before then I was working for various companies doing the same type of work.

    </p>
  </div>

</ion-content>
