<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides #coverSlides class="cover_photo" [options]="slideOpts">
    <ion-slide>
      <img src="/assets/cover1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/cover2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/cover3.jpg">
    </ion-slide>
  </ion-slides>

  

  <div class="description">
    <h4 style="text-align: center;">
      Hey there! 
    </h4>
    <p>
      I'm Scott and I've got a monster dong so you should hire me for your outdoor needs. 
      Whether it be lawn mowing, trimming, landscaping, power washing, or even prostitution, I'm your guy!
      Go learn more about me by clicking <a href="/tabs/tab3">here!</a>
    </p>
  </div>
  
</ion-content>
